{% load static %}
<div class="border-right border-danger h-100">
    <div class="text-center">
        <img src="{% static 'core/images/projectimg.jpeg' %}" alt="" class="img-fluid m-2" width="60px">
        <h5 class="text-warning mt-3 st-font">Akhil Sharma</h5>
    </div>
    <hr class="border-light">
    <nav class="nav flex-column text text-center">
        <a href="" class="nav-link">Home</a>
        <a href="" class="nav-link">services</a>
        <a href="" class="nav-link">Skill</a>
        <a href="" class="nav-link">Contact</a>
    </nav>
</div>