{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">


    <h1 class="text-warning mb-5 border-bottom ">Services</h1>
    <div class="container">

        <div class=" row text text-white border border-success">
            <div class="col-sm-4 text-center">
                <i class="fas fa-cloud fa-3x mb-3 a-colour "></i>
                <h3 class="mb-3">Web development</h3>

                <p class="st-fonts"> Web developmen is my main field and i love giving customisation to web pages</p>


            </div>


            <div class="col-sm-4 text-center">
                <i class="fas fa-search-dollar fa-3x mb-3 b-colour"></i>
                <h3 class="mb-3">SEO</h3>
                <p class="st-fonts"> Search engines such as Google uses bots to crawl pages on the web,going
                    from site to site,collecting information and puts it in index.</p>

            </div>

            <div class="col-sm-4 text-center">
                <i class="fab fa-app-store fa-3x mb-3 c-colour"></i>

                <h3 class="mb-3">Web design</h3>

                <p class="st-fonts"> Lorem ipsum, dolor it amet consectetur
                    adipisicing elit.
                    Est, id nihil voluptate dolores corporis quas.</p>

            </div>
        </div>

        <div class=" row text text-white border border-danger">
            <div class="col-sm-4 text-center">
                <i class="fab fa-ioxhost fa-3x mb-3 d-colour"></i>
                <h3 class="mb-3">Hosting</h3>
                <p class="st-fonts"> Lorem ipsum, dolor it amet consectetur
                    adipisicing elit.
                    Est, id nihil voluptate dolores corporis quas.</p>
            </div>


            <div class="col-sm-4 text-center">
                <i class="fab fa-android fa-3x mb-3 e-colour"></i>
                <h3 class="mb-3">Android</h3>

                <p class="st-fonts"> Lorem ipsum, dolor it amet consectetur
                    adipisicing elit.
                    Est, id nihil voluptate dolores corporis quas.</p>

            </div>

            <div class="col-sm-4 text-center">
                <i class="fab fa-apple fa-3x mb-3 f-colour"></i>

                <h3 class="mb-3">Ios</h3>

                <p class="st-fonts"> Lorem ipsum, dolor it amet consectetur
                    adipisicing elit.
                    Est, id nihil voluptate dolores corporis quas.</p>

            </div>
        </div>

        <div class=" row text text-white border border-info">
            <div class="col-sm-4 text-center ">
                <i class="fab fa-apple-pay fa-3x mb-3 g-colour"></i>
                <h3 class="mb-3">Advertisemnet</h3>
                <p class="st-fonts"> Lorem ipsum, dolor it amet consectetur
                    adipisicing elit.
                    Est, id nihil voluptate dolores corporis quas.</p>
            </div>


            <div class="col-sm-4 text-center">
                <i class="fas fa-cloud fa-3x mb-3 h-colour "></i>
                <h3 class="mb-3">Logo</h3>

                <p class="st-fonts"> Lorem ipsum, dolor it amet consectetur
                    adipisicing elit.
                    Est, id nihil voluptate dolores corporis quas.</p>

            </div>

            <div class="col-sm-4 text-center">
                <i class="fab fa-algolia fa-3x mb-3 i-colour"></i>

                <h3 class="mb-3">Support</h3>

                <p class="st-fonts"> Lorem ipsum, dolor it amet consectetur
                    adipisicing elit.
                    Est, id nihil voluptate dolores corporis quas.</p>


            </div>
        </div>


    </div>
</div>


{% endblock content %}